/* Form Title */
.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Dark gray text color */
}

/* Form Labels */
.form-label {
    -fx-font-weight: bold;
}

/* Form Fields */
.form-field {
    -fx-font-size: 16px;
    -fx-pref-width: 250px;
    -fx-padding: 8px;
    -fx-border-color: #cccccc; /* Light gray border color */
    -fx-border-radius: 5px;
}

/* Form Buttons */
.form-button {
    -fx-font-size: 16px;
    -fx-pref-width: 100px;
    -fx-background-color: #28a745; /* Green button background color */
    -fx-text-fill: white; /* White button text color */
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: pointer;
    -fx-border-width: 0;
}

/* Form Button Hover Effect */
.form-button:hover {
    -fx-background-color: #218838; /* Darker green on hover */
}

/* Image FlowPane */
#imageFlowPane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

/* Image Preview */
.image-preview {
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.image-preview:hover {
    -fx-border-color: #0099FF;
}

/* Remove Button */
.remove-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Additional Styling */
/* You can add any additional styling here as needed */
